body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #ffffff;
}

.page-link {
  color: #212529;
}

.page-link:hover {
  color: #ffffff;
  background-color: #212529;
}

h1.text-center {
  margin-top: 90px;
}